/* Reset some default browser styles */
body, h1, p, button, main, footer {
    margin: 0;
    padding: 0;
}

/* Basic styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

.checkmark {
    color: #28a745; /* Green color for checkmark */
    margin-left: 5px; /* Add a bit of spacing between text and checkmark */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    color: #fff;
}
