
{% extends 'base.html' %}
{% block title %}View Requests{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ViewPaymentMethod.css">

</head>
<body>
<header>
    <h1>View Requests</h1>
</header>

<main>
    <div class="action-bar">
        <h2>Lease Requests</h2>
    </div>
    <ul class="payment-list">
        {% for lease_app in lease_applications %}
        {% if lease_app[3] == 'Pending' %}
            <li>
            <span>Lease Application {{ lease_app[0] }} for Property {{ lease_app[5] }}</span>
            <span>Start Date: {{ lease_app[1] }}</span>
                <span>End Date: {{ lease_app[2] }}</span>
                <span>Description: {{ lease_app[4] }}</span>
            <div class="button-bar">
                <form action="/approve_lease" method="post">
                    <input type="hidden" name="leaseApp_id" value="{{ lease_app[0] }}">
                    <button type="submit" class="approve-button">Approve</button>
                </form>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <form action="/reject_lease" method="post">
                    <input type="hidden" name="leaseApp_id" value="{{ lease_app[0] }}">
                    <button type="submit" class="delete-button">Reject</button>
                </form>
            </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="action-bar">
        <h2>Vacancy Notice Requests</h2>
    </div>

     <ul class="payment-list">
        {% for req in requests %}
        {% if req[1] == "Vacancy" %}
            <li>
            <span>Vacancy Request {{ req[0] }} for Lease App {{ req[5]}}</span>
                <span>Vacancy Date: {{ req[3] }}</span>
                <span>Description: {{ req[2] }}</span>
            <div class="button-bar">
                <form action="/approve_vacancy" method="post">
                    <input type="hidden" name="req_id" value="{{ req[0] }}">
                    <button type="submit" class="approve-button">Approve</button>
                </form>
                &nbsp;&nbsp;&nbsp;
                <form action="/reject_vacancy" method="post">
                    <input type="hidden" name="req_id" value="{{ req[0] }}">
                    <button type="submit" class="delete-button">Reject</button>
                </form>
            </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>

    <div class="action-bar">
        <h2>Lease Extension  Requests</h2>
    </div>
    <ul class="payment-list">
            {% for req in requests %}
            {% if req[1] == "Extension" %}
                <li>
                <span>Extension Request {{ req[0] }} for Lease App {{ req[5]}}</span>
                    <span>Extension Date: {{ req[3] }}</span>
                    <span>Description: {{ req[2] }}</span>
                <div class="button-bar">
                    <form action="/approve_extension" method="post">
                        <input type="hidden" name="req_id" value="{{ req[0] }}">
                        <button type="submit" class="approve-button">Approve</button>
                    </form>
                    &nbsp;&nbsp;&nbsp;
                    <form action="/reject_extension" method="post">
                        <input type="hidden" name="req_id" value="{{ req[0] }}">
                        <button type="submit" class="delete-button">Reject</button>
                    </form>
                </div>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
</main>

<footer>
    <p>&copy; 2023 Property Management System</p>
</footer>
</body>

{% endblock %}


