<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="InvoiceDetails.css">
    <title>Invoice Details</title>
</head>
<body>
<header>
    <h1>Invoice Details</h1>
</header>

<main>
    <h2>Invoice #1</h2>
    <p><strong>Amount:</strong> $500</p>
    <p><strong>Property:</strong> 123 Argyle St.</p>
    <p><strong>Agent:</strong> Aljonn Santos</p>
    <p><strong>Due Date:</strong> September 30, 2023</p>
    <form action="PaymentMethod.html">
    <button id="pay-button" type="submit"> Pay Invoice </button>
    </form>
</main>

<footer>
    <p>&copy; 2023 Property Management System</p>
</footer>
</body>
</html>
