{% extends 'base.html' %}

{% block content %}
<h1>View Property List</h1>

<p>
<form action="{{url_for('list_properties')}}", method="post">
    <label for="search_property_by_address">Search properties by entering address: </label>
    <input type="text" name="search_keywords" id="search_property_by_address" placeholder="Search property">
    <input type="submit" value="Search address">
</form>
</p>
<p>
<form action="{{url_for('update_properties')}}">
    <label for="update_property_id">Update property by selecting ID: </label>
    <select name="update_property_id" id="update_property_id">
        {% for property in all_properties %}
            <option value="{{property['property_id']}}">{{property['property_id']}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Update">
</form>
</p>
<p>
<form action="{{url_for('delete_properties')}}" method="post">
    <label for="delete_property_id">Delete property by selecting ID: </label>
    <select name="update_property_id" id="delete_property_id">
        {% for property in all_properties %}
            <option value="{{property['property_id']}}">{{property['property_id']}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Delete">
</form>
</p>

{% if not all_properties %}
    <h3>Properties Not Found!</h3>
{% else %}
    <table border="1">
        <th>Property ID</th>
        <th>Landlord ID</th>
        <th>Agent ID</th>
        <th>Tenant ID</th>
        <th>Address</th>
        <th>Price</th>
        <th>Description</th>
        <th>Status (1: rented or 0: empty)</th>
        {% for property in all_properties %}
            <tr>
                <td>{{property['property_id']}}</td>
                <td>{{property['landlord_id']}}</td>
                <td>{{property['agent_id']}}</td>
                <td>{{property['tenant_id']}}</td>
                <td>{{property['address']}}</td>
                <td>{{property['price']}}</td>
                <td>{{property['description']}}</td>
                <td>{{property['status']}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}