{% extends 'base.html' %}

{% block content %}

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/NewRequest.css">
    <title>Tenant Request Form</title>
</head>
<body>
    <h1>Tenant Request Form</h1>
    <form action="/new_request" method="post" style="text-align: center">
        <label for="request-type">Request Type:</label>
        <select id="request-type" name="request-type" required>
            <option value="Vacancy">Vacancy</option>
            <option value="Extension">Extension</option>
        </select>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea>

        <label for="date">Vacancy/Extension Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="lease-id">Lease Application #:</label>
        <select id="lease-id" name="lease-id" required>
            {% for app in leaseapps %}
            <option value="{{app[0]}}">LA#{{app[0]}}</option>
            {% endfor %}
        </select>

        <button type="submit">Submit</button>
    </form>
</body>


{% endblock %}


