
{% extends 'base.html' %}
{% block title %}View Payment History{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ViewPaymentMethod.css">

</head>
<body>
<header>
    <h1>View Payment History</h1>
</header>

<main>
    <div class="action-bar">
        <h2>Paid Invoices</h2>
    </div>
    <ul class="payment-list">
        {% for invoice in invoices %}
        <li>
                <span>Invoice {{ invoice[0] }}: $ {{ invoice[2] }}</span>
                <span>Due Date: {{ invoice[1] }}</span>
                <span>Status: {{ invoice[3] }}</span>
                <span>Property ID: {{ invoice[4] }}</span>
        </li>
        {% endfor %}
    </ul>

</main>

<footer>
    <p>&copy; 2023 Property Management System</p>
</footer>
</body>

{% endblock %}


