

{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/PaymentMethod.css">
    <title>Payment Methods</title>
</head>
<body>
<header>
    <h1>Payment Methods</h1>
</header>

<main>
    <div class="action-bar">
        <h2>Select Payment Method</h2>
    </div>
   <ul class="payment-list">
        {% for payment in all_pay_methods %}
        <li>
                <span>Card {{ payment[0] }}: *************{{ payment[1][-3:]}}</span>
            <div class="button-bar">
                <form action="/pay" method="post">
                    <input type="hidden" name="payment_id" value="{{ payment[0] }}">
                    <input type="hidden" name="invoice_id" value="{{ invoice[0] }}">
                    <button type="submit">Select</button>
                </form>
                &nbsp;
            </div>
        </li>
        {% endfor %}
    </ul>
</main>

<footer>
    <p>&copy; 2023 Property Management System</p>
</footer>
</body>


{% endblock %}


